<div>
        <div class="ImprintP-title">Impressum</div>
        <div>Christian Woizischke, Software Engineering &amp; Consulting</div>
        {% if imprint_street %}<div>{{ imprint_street }}</div>{% endif %}
        <div>31311 Uetze</div>
        <div>GERMANY</div>
        <div>busyhumans<img src="static/eddy.png" alt=""/>woizischke.com</div>
        <h2>Streitschlichtung</h2>
        <p>
            Die Europ&auml;ische Kommission stellt eine Plattform zur
            Online-Streitbeilegung (OS) bereit:
            <a
                    href="https://ec.europa.eu/consumers/odr/"
                    target="_blank"
                    rel="noopener noreferrer"
            >https://ec.europa.eu/consumers/odr/</a
            >.<br />
            Verbraucher haben die Möglichkeit, diese Plattform für die Beilegung ihrer
            Streitigkeiten zu nutzen.<br />Zur Teilnahme an einem
            Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle sind wir
            nicht verpflichtet und nicht bereit.
        </p>
    </div>
